__Task 4.9 Part 1 - Importing Data Set Customers.csv__

In [2]:
#importing library
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
path = r'/Users/rayruslijunior/11-2021 Instacart Basket Analysis'

In [4]:
#importing customer.csv data
cust = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'customers.csv'))

In [5]:
cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
cust.shape

(206209, 10)

In [7]:
cust.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

#__4. Wrangle the Data so it follows consistent logic, I think first thing first those some of the collumn name needs to be renamed - i guess first I would rename some collumn name__

__Renaming the column__

In [8]:
cust = cust.rename(columns = {'First Name':'first_name', 'Surnam':'surname', 'Gender':'gender', 'STATE':'state', 'Age':'age'})

In [9]:
cust.head()

,user_id,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

__5.Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.__

__Checking for missing value__

In [10]:
cust.isnull().sum()

user_id             0
first_name      11259
surname             0
gender              0
state               0
age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

On the data set only first_name has 11.259 missing value, I don't think we will be needing this set of data for our analysis.

__Dropping the first_name column__

In [11]:
cust = cust.drop('first_name',1)

__Duplicate Check__

In [12]:
#checking for duplicates - there seem to be no full duplicated on this data set
cust_dup = cust[cust.duplicated()]
cust_dup

Empty DataFrame
Columns: [user_id, surname, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

__Checking mixed data set__

In [13]:
for col in cust.columns.tolist():
  weird = (cust[[col]].applymap(type) != cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (cust[weird]) > 0:
    print (col)

Thank god - there seem to be no mixed date set!

__Importing our ords_prods_merge from 4.8__

In [14]:
prods = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data', '4.8 orders_products_merged.pkl'))

In [15]:
prods.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending,spending_flag,frequency,frequency_flag
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,...,Low-range product,Regularly busy,Regularly busy days,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,...,Low-range product,Regularly busy,Regularly busy days,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,...,Low-range product,Regularly busy,Regularly busy days,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
5,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,...,Mid-range product,Regularly busy,slowest days,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
6,2398795,1,2,3,7,15.0,False,10258.0,2.0,0.0,...,Low-range product,Regularly busy,slowest days,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
7,2398795,1,2,3,7,15.0,False,12427.0,3.0,1.0,...,Low-range product,Regularly busy,slowest days,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
8,2398795,1,2,3,7,15.0,False,13176.0,4.0,0.0,...,Mid-range product,Regularly busy,slowest days,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
9,2398795,1,2,3,7,15.0,False,26088.0,5.0,1.0,...,Low-range product,Regularly busy,slowest days,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer

__there seem to be a problem merging both data set :-(__

__Checking the memory size of our dataset__

In [16]:
prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32641268 entries, 0 to 32641267
Data columns (total 25 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_dow               int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   first_order             bool
 7   product_id              float64
 8   add_to_cart_order       float64
 9   reordered               float64
 10  product_name            object
 11  aisle_id                float64
 12  department_id           float64
 13  prices                  float64
 14  _merge                  category
 15  price_range_loc         object
 16  busiest_day             object
 17  busiest_days            object
 18  busiest_period_of_day   object
 19  max_order               int64
 20  loyalty_flag            object
 21  spending                float64
 22  spending_flag           object
 23  frequency               float64
 24  frequency_flag          object
dtypes: bool(1), category(1), float64(9), int64(6), object(8)
memory usage: 5.9+ GB

In [17]:
#dropping _merge colummn first :-)
prods = prods.drop('_merge', 1)

In [18]:
#let's check the memory usage of each collumn
prods.memory_usage()

Index                     261130144
order_id                  261130144
user_id                   261130144
order_number              261130144
order_dow                 261130144
order_hour_of_day         261130144
days_since_prior_order    261130144
first_order                32641268
product_id                261130144
add_to_cart_order         261130144
reordered                 261130144
product_name              261130144
aisle_id                  261130144
department_id             261130144
prices                    261130144
price_range_loc           261130144
busiest_day               261130144
busiest_days              261130144
busiest_period_of_day     261130144
max_order                 261130144
loyalty_flag              261130144
spending                  261130144
spending_flag             261130144
frequency                 261130144
frequency_flag            261130144
dtype: int64

__5,9 GB seem to be quite big ey__

i think we could maybe first change all the Dtypes 'objects' on prods to 'category'

In [19]:
prods[['busiest_period_of_day','product_name','spending_flag','price_range_loc','busiest_day','loyalty_flag','frequency_flag','busiest_days']] = prods[['busiest_period_of_day','product_name','spending_flag','frequency_flag','price_range_loc','busiest_day','loyalty_flag','busiest_days']].astype('category')

Change order_dow,order_hour_of_day,frequency to int16 since its just a few numbers

In [20]:
prods[['order_dow','order_hour_of_day','frequency']] = prods[['order_dow','order_hour_of_day','frequency']].astype('int16')

In [21]:
#checking max amount of 'spending' and converting it to float16
prods['spending'].max()

25005.425

In [22]:
prods['spending'] = prods['spending'].astype('float16')

In [23]:
#checking max amount of 'max order' - and converting it to int16
prods['max_order'].max()

100

In [24]:
prods['max_order'] = prods['max_order'].astype('int16')

In [25]:
prods['aisle_id'] = prods['aisle_id'].astype('float16')

In [26]:
prods[['order_dow','order_hour_of_day']] = prods[['order_dow','order_hour_of_day']].astype('uint16')

In [27]:
prods['days_since_prior_order'] = prods['days_since_prior_order'].astype('float16')

In [28]:
prods['add_to_cart_order'] = prods['add_to_cart_order'].astype('float16')

In [29]:
#checking reordered
prods['reordered'].max()

1.0

In [30]:
#i dont think we really need this for our further analysis
prods = prods.drop('reordered', 1)

In [31]:
prods['prices'].max()

99999.0

In [32]:
prods.loc[prods['prices'] >100, 'prices'] = np.nan

In [33]:
prods['prices'] = prods['prices'].astype('float32')

In [34]:
prods['department_id'] = prods['department_id'].astype('float16')

In [51]:
prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32641268 entries, 0 to 32641267
Data columns (total 23 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_dow               uint16
 4   order_hour_of_day       uint16
 5   days_since_prior_order  float16
 6   first_order             bool
 7   product_id              float64
 8   add_to_cart_order       float16
 9   product_name            category
 10  aisle_id                float16
 11  department_id           float16
 12  prices                  float32
 13  price_range_loc         category
 14  busiest_day             category
 15  busiest_days            category
 16  busiest_period_of_day   category
 17  max_order               int16
 18  loyalty_flag            category
 19  spending                float16
 20  spending_flag           category
 21  frequency               int16
 22  frequency_flag          category
dtypes: bool(1), category(8), float16(5), float32(1), float64(1), int16(2), int64(3), uint16(2)
memory usage: 2.3 GB

__We have somehow managed to decreased the Memory from 5.9 GB to 2.3 GB!!! :-) now let's try to merge it with the cust. data frame__

In [52]:
#merging prods & cust 
df_merged = prods.merge(cust,on ='user_id',indicator = True)

In [53]:
df_merged.head(5)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,product_name,...,frequency_flag,surname,gender,state,age,date_joined,n_dependants,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,True,196.0,1.0,Soda,...,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,Organic Unsweetened Vanilla Almond Milk,...,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,Original Beef Jerky,...,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,Aged White Cheddar Popcorn,...,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,XL Pick-A-Size Paper Towel Rolls,...,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [54]:
#let's check if our merge has been succesfully done
df_merged['_merge'].value_counts(dropna = False)

both          32641268
left_only            0
right_only           0
Name: _merge, dtype: int64

__Our merged seems to be succesfull!!!__

__Exporting our Data Frame__

In [56]:
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_cust(4.9).pkl'))

In [1]:
crosstab = pd.crosstab(df_merged['days_since_prior_order'], df_merged['order_number'], dropna = False)

NameError: name 'pd' is not defined